#calculateBtn{
        width: 8rem;
        height: 2rem;
        margin-top: 1rem;
        border: none;
        font-size: 1rem;
        font-weight: bold;
        background-color: violet;
        border-radius: 0.4rem;;
}
#H-output{
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    color: black;
    width: 30%;
    display: block;
    margin: auto;
}